@media screen and (max-width: 650px) {
	.resto__container {
    width: 100%;
    margin: 0 auto;
  }

	.hero {
		margin-top: 3.8rem;
		height: 40vh;
	}

	.hero__title {
		font-size: x-large;
	}

	.hero__subtitle {
		font-size: large;
	}

	.hero__description {
		font-size: small;
		width: 90vw;
	}

  .resto__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

	.resto__list__menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.resto__menu__food img,
	.resto__menu__drink img {
		height: 150px;
		object-fit: cover;
	}
}
@media screen and (min-width: 651px) {
	.app-bar {
		grid-template-columns: 1fr auto;
		padding: 8px 32px;
	}

	.app-bar .app-bar__brand h1 {
		font-size: 1.5em;
	}

	.app-bar .app-bar__menu {
		display: none;
	}

	.app-bar .app-bar__navigation {
		position: static;
		width: 100%;
	}

	.app-bar .app-bar__navigation ul li {
		display: inline-block;
	}

	.app-bar .app-bar__navigation ul li a {
		display: inline-block;
		width: 120px;
		text-align: center;
		margin: 0;
	}

	.hero {
		margin-top: 3.8rem;
		height: 40vh;
	}

	.hero__title {
		font-size: xx-large;
	}

	.hero__subtitle {
		font-size: x-large;
	}

	.hero__description {
		font-size: small;
	}

  .resto__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

	.resto__list__menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 800px) {
	.app-bar .app-bar__brand h1 {
		font-size: 2em;
	}

 	
	.hero__title {
		font-size: xx-large;
	}

	.hero__subtitle {
		font-size: x-large;
	}

	.hero__description {
		font-size: large;
	}

	.resto__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 850px) {
	.resto__list__menu {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

}

@media screen and (min-width: 1200px) {
.hero {
		margin-top: 3.8rem;
		height: 50vh;
	}

	.resto__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

	.resto__list__menu {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (min-width: 1600px) {
	.resto__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

	.resto__list__menu {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
}